language: node_js
node_js:
  - "10"
branches:
  only:
  - master
before_script:
  - echo "Installing Angular Globaly..."
  - npm install -g @angular/cli
addons:
  chrome: stable
# cache:
#   npm:true
#   directories:
#     -node_modules
script:
- npm ci
- npm run test-headless
- npm run build:lib
# - npm run build
# - mv dist/bDataTableDemo/index.html dist/bDataTableDemo/404.html

# deploy:
#   provider: pages
#   skip_cleanup: true
#   github_token: $GITHUB_TOKEN
#   local_dir: dist/bDataTableDemo
#   on:
#     branch: master

after_script:
  - echo "Build ended!"