<div class="container">
  <p class="text-center font-weight-bold">Bootstrap Data Table Demo</p>
  <b-table [striped]="true" [bordered]="true" [hover]="true" [small]="true">
   <ng-template bTemplate="header">
     <tr>
       <th>Header</th>
     </tr>
    </ng-template>
    <ng-template bTemplate="body">
      <tr>
        <td>Row 1</td>
      </tr>
      <tr>
        <td>Row 2</td>
      </tr>
      <tr>
        <td>Row 3</td>
      </tr>
     </ng-template>
  </b-table>
  <!-- <b-table 
  *ngIf="_data"
  [columns]="columns" 
  [value]="data" 
  [responsive]="true"
  [paginator]="true"
  [paginatorConfig]="pConfig"
  [rows]="rows"
  [totalRecords]="_data?.length"
  [tableClasses]="tableClasses"
  [theadClasses]="theadClasses"
  (onRowSelect)="onRowSelect($event)"
  (onPageChange)="onPageChange($event)"
  ></b-table> -->
</div>
<!-- [scrollable]="true" -->